
@import "_colors.css";

* {
    all: unset;
    font-size: 14px;
    font-family: Cantarell, otf-font-awesome, "Noto Sans CJK", sans-serif;
    transition: 160ms ease-in;
}

tooltip {
    background: shade(@background-alt, .8);
    border: .5px solid shade(@highlight, .8);
    border-radius: 6px;
}

/* Notifications (Not from control center) */

.floating-notifications .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border-radius: 16px;
  margin: 18px;
  background-color: @background;
  color: @text;
  padding: 0;
}

.notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 16px;
}

.notification-row .notification-background .notification.critical {
    border: 2px solid @yellow;
}

.notification-row .notification-background .notification {
  padding: 14px;
}

.notification-row .notification-background .notification .notification-content .summary {
  font-size: 1.2em;
  margin-bottom: 2px;
  font-weight: 600;
  color: @text;
}

.notification-row .notification-background .notification .notification-content .time {
  color: @foreground;
}

.notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
  margin-bottom: .6em;
}

.notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.notification .notification-action {
  border-radius: 16px;
  color: @text;
  font-weight: 600;
  background-color: @bg-button;
  border: .6px solid @background;
  margin: .3em 0;
}

.notification-row .notification .notification-action:hover {
  background-color: @hover;
}

.notification-row .notification .notification-action:active {
  background-color: @active;
  color: @text;
}

.close-button {
  border-radius: 8px;
  margin: 4px;
  padding: 2.5px;
  border-radius: 8px;
  color: @crust;
  background-color: @bg-button;
}

.close-button:hover {
  background-color: @hover;
}

.close-button:active {
  background-color: @active;
}

/* Control Center Notifications */

.control-center .notification-row .notification-background {
  border-radius: 16px;
  background-color: @background-alt;
  border: 1px solid @yellow;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 10px;
}

.control-center .notification-row .notification-background .notification.critical {
  border: 2px solid @highlight;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 8px;
  font-family: Cantarell, "Noto Sans CJK"
}
.control-center .notification-row .notification-background .notification .notification-content .summary {
  font-family: Cantarell, "Noto Sans CJK";
  color: #cdd6f4;
  font-size: 1.2em;
  font-weight: 600;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: #cdd6f4;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.notification.critical progress {
  background-color: #f38ba8;
}

.notification.low progress,
.notification.normal progress {
  background-color: #89b4fa;
}

/* Control Center */

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px #313244;
  border-radius: 12.6px;
  margin: 18px;
  background: @background;
  color: @text;
  padding: 1.5rem;
}

.control-center .widget-title {
    padding: 1rem .2rem;
}

.control-center .widget-title > label {
  color: @text;
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 10px;
}

.control-center .widget-title button {
    border-radius: 8px;
    background: @bg-button;
    padding: 6px 8px;
}

.control-center .widget-title button:hover {
  background-color: @hover;
}

.control-center .widget-title button:active {
  background-color: @active;
}

.control-center .widget-title button label {
    color: @foreground;
    font-weight: 600;
}

.control-center .widget-label {
    padding: .2rem;
}

.control-center .widget-label > label {
  color: @foreground; 
  font-weight: 600;
  font-size: 1.6em;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: #313244;
  border: 1px solid #45475a;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: #313244;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 16px;
  background: @background;
  border: 1px solid #45475a;
  box-shadow: none;
}

.widget-dnd > switch slider {
  background: @highlight;
  border-radius: 16px;
  border: 1px solid #6c7086;
  
}

/* MPRIS */

.widget-mpris {
  margin-top: 16px;
}

.widget-mpris .widget-mpris-player {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .3);
  padding: 24px;
  background-color: transparent;
  padding-bottom: 16px;
  border-radius: 16px;
  outline: none;
  margin-left: 8px;
  margin-right: 8px;
}

/* mpris controls */
.widget-mpris .widget-mpris-player > *:last-child > button {
    border-radius: 8px;
}

.widget-mpris .widget-mpris-player > *:last-child > button:hover {
    background: @hover;
}

.widget-mpris .widget-mpris-player > *:last-child > button:active {
    background: @active;
}

.widget-mpris .widget-mpris-title {
    font-family: "Cantarell", "Noto Sans";
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
  text-shadow: 1px 1px 2px black;
}


.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #f38ba8;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: #313244;
}

.widget-buttons-grid {
    margin-top: 2px;
    margin-left: 5px;
}

.widget-buttons-grid button {
    background: @bg-button;
    padding: 12px;
    border-radius: 16px;
    margin: 2px;
}

.widget-buttons-grid button:hover {
    background: @hover;
}

.widget-buttons-grid button:active {
    background: @active;
}

.widget-buttons-grid button label {
    font-size: 0.95rem;
    color: @text;
    font-weight: 600;
}

.toggle:checked {
    color: blue;
}

.widget-volume trough,
.widget-backlight trough { /* slider's background */
    margin: 0 1.2rem;
    background-color: @background-alt;
    min-height: 8px;
    min-width: 70px;
    border-radius: 14px;
    padding: 4px;
}

.widget-volume trough slider,
.widget-backlight trough slider { /* slider's dot indicator */
    background: shade(@text, .9);
    border-radius: 50%;
    padding: 10px;
    box-shadow: inset 0 0 1px .5px @background-alt;
}
.widget-volume trough slider:active,
.widget-backlight trough slider:active {
    padding: 10px;
    background: shade(@text, .75);
}

.widget-volume trough highlight,
.widget-backlight trough highlight { /* slider bar */
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background: shade(@highlight, .9);
}

.widget-volume {
    margin-top: 1rem;
    margin-bottom: 0.8rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @text;
  margin-left: 5px;
  margin-right: 6px;
}

.widget-backlight {
    margin-bottom: 1rem;
}

.widget-backlight label {
  font-size: 1.5rem;
  margin-left: 7px;
  margin-right: 3px;
  color: @text;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
  border-radius: 16px;
}
