
@import "../../.cache/wal/colors-wlogout.css";


* {
	background-image: none;
	box-shadow: none;
    outline: none;
    background-repeat: no-repeat;
}

window {
	background-color: alpha(shade(@background, .6), .6);
}

button {
    border-radius: 16px;
    border: 1px solid @color2;
    color: @foreground;
	background-color: @background;
    background-position: center;
	background-size: 30%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 150ms linear;
    font-size: 1.25em;
    font-weight: 700;
}

button:focus, button:hover {
	background-color: shade(@color1, .75);
}

button:active {
    background-color: @color1;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
