
@import "_colors.css";

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: alpha(shade(@background, .6), 0.9);
}

button {
    border-radius: 16px;
    border-color: @border;
    color: @text;
	background-color: @background;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18%;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 150ms ease-in-out;
    outline: none;
    font-size: 1.12em;
    font-weight: 700;
}

button:focus, button:hover {
	background-color: @hover;
}

button:active {
    background-color: @active;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

/* 
#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
} 
*/
