
/* background -> #312D23
 * highlight -> #AC8A3D
 * mark(not-selected) -> #726037
 */

* {
	outline: none;
    font-family: "0xProto Nerd Font Regular", otf-font-awesome, Cantarell, sans-serif;
}

#outer-box {
	border: 3px solid shade(#312D23, .8);
	border-radius: 16px;
}

#window {
	background-color: #312D23;
	border-radius: 16px;
}

#text {
	font-family: system-ui, sans-serif;
    transition: 50ms ease-in;
    margin-left: 10px;
    color: white;
}

#text:selected {
	color: lightgray;
}

#input {
    border: 2px solid shade(#AC8A3D, .8);
    border-radius: 14px;
	margin: 8px;
	background-color: shade(#726037, .7);
    box-shadow: none;
}

#entry {
	padding: 0 16px;
	margin: 2px 6px;
	padding-top: 7px;
	padding-bottom: 5px;
	transition: 75ms ease-in;
	font-size: 1.02em;
	font-weight: 600;
    border-radius: 12px;
}

#entry:selected {
	background-color: shade(#AC8A3D, .5);
}
