
:root {
	--base: #1e1e2e;
	--dark: #1b1b30;
	--crust: #11111b;
	--text: #cdd6f4;
}

* {
	outline: none;
}

#outer-box {
	border: 3px solid #1b1b26;
	border-radius: 12px;
}

#window {
	background-color: #1e1e2e;
	border-radius: 12px;
}

#text {
	font-family: system-ui, sans-serif;
    transition: 50ms ease-in;
    margin-left: 10px;
}

#text:selected {
	color: lightgray;
}

#input {
    border: 2px solid darkgray;
    border-radius: 10px;
	margin: 4px;
	background-color: #11111b;
    box-shadow: none;
}

#input:selected {
    background: white;
}

#scroll {
    border-bottom: 1px solid #1b1b26;
    border-radius: 6px 6px;
}

#entry {
	padding: 0 16px;
	margin: 0px 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	transition: 80ms ease-in;
	font-size: 1em;
	font-weight: 600;
    border-radius: 12px;
}

#entry:selected {
	background-color: #38384a;
	outline: none;
}
